priority -50

snippet comment "Coq Comment"
(* ${0} *)
endsnippet

snippet quote "Quoted text"
' ${0}  '
endsnippet

snippet dquote "Double quoted text"
" ${0}  "
endsnippet

snippet paren "Parenthesis"
( ${0}  )
endsnippet

snippet sembr "Semantic Bracket"
⟦ ${0}  ⟧
endsnippet

snippet fangle "Fancy ⟨⟩"
⟨ ${0} ⟩
endsnippet

snippet top "Lattice ⊤"
⊤
endsnippet

snippet bot "Lattice ⊥"
⊥
endsnippet

snippet turnstile "Turnstile"
⊢
endsnippet

snippet dturnstile "DoubleTurnstile"
⊨
endsnippet

